.card_list{
    text-align: center;
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap : 50px ;
    background-color: antiquewhite;
    cursor: pointer;
}

  img{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 200px;
  }
